[Unit]
After=xserver-nodm.service

[Service]
User=root
Restart=always
ExecStart=/usr/bin/x11vnc -display :0 -forever

[Install]
WantedBy=multi-user.target

